{% extends 'base.html.twig' %}

{% block title %} Harfony | Calendrier {% endblock %}

{% block stylesheets %}
    {{ parent () }}
{% endblock %}

{% block body %}
<div class="container">
  <h1 class="my-4">
    Calendrier des évènements de cette année
  </h1>
  <div id="calendrier">
    <div class="row">
    {% for e in events %}
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="#"><img class="card-img-top" 
          src={{ asset('eventimg.png') }} alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#">{{e.nom}}</a>
            </h4>
            <p class="card-text">{{e.description}}</p>
            <p class="card-text">{{"Ecrit le " ~ e.time|date('d/m/Y H:i') ~ " par " ~ e.username ~ "."}}</p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>		
</div>

{% endblock %}

{% block javascripts %}
    {{ parent () }}
{% endblock %}
