{% extends 'base.html.twig' %}

{% block title %} Harfony | Images {% endblock %}

{% block stylesheets %}
    {{ parent () }}
{% endblock %}

{% block body %}
{{ form_start ( form_nouveau_post ) }}
{{ form_widget ( form_nouveau_post ) }}
{{ form_end ( form_nouveau_post ) }}

<div class="container">
  <h1 class="my-4">
    Images
  </h1>
  
  <div class="row">
    {% for i in liste %}
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="{{ asset(i.nom) }}" download><img class="card-img-top" 
          src={{ asset(i.nom) }} alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="{{ asset('/post/'~i.nom) }}">{{i.nom}}</a>
            </h4>
            <p class="card-text">{{i.description}}</p>
						<p class="card-text">PAR {{i.user_id}}</p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent () }}
{% endblock %}
