{% extends 'base.html.twig' %}

{% block title %} Harfony| Musique {% endblock %}

{% block stylesheets %}
    {{ parent () }}
{% endblock %}

{% block body %}
	<form method="post" enctype="multipart/form-data">
		<div>
		  <label for="upload">Sélectionnez le fichier à poster</label>
		  <input type="file" id="upload" name="upload" accept=".mp3">
		  <button type="submit">Envoyer</button>
		</div>
	</form>
	<div class="container">
  <h1 class="my-4">
    Musique
  </h1>
  
  <div class="row">
    {% for i in liste %}
      <div class="col-lg-4 col-sm-6 portfolio-item">
        <div class="card h-100">
          <a href="{{ asset(i.nom) }}" download><img class="card-img-top" 
          src={{ asset('initiald.jpg') }} alt=""></a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="{{ asset('/post/'~i.nom) }}">i.nom</a>
            </h4>
            <p class="card-text">{{i.description}}</p>
	    <p class="card-text">PAR {{i.user_id}}</p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

{% endblock %}

{% block javascripts %}
    {{ parent () }}
{% endblock %}


